.searchContainer {
    max-width: 100%;
}
.display-4 {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 6rem;
    padding: 1rem;
}
.nav-item-link {
    display: flex;
    flex: 0 1 auto;
    align-content: flex-end;
    flex-flow: column wrap;
    padding: 1rem;
    font-weight: 100;
}
.nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.searchContainer {
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-flow: column nowrap;
    padding: 1rem;
    font-weight: 100;
    max-width: 50%;
}
.nav-link-container{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    max-width: 70%;
}
.form-control {
    display: flex;
    flex-flow: column nowrap;
}
.btn-search {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    text-align: center;
    background-color: #D6C9B8;
}
.btn-primary {
    border-color: #D6C9B8;
}
.form-group {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
}