.header {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.container {
    max-width: 33%;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    order: 2;
}
.display-4 {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
}
.logoContainer {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 33%;
    min-width: 10%;
    padding: 1rem;
}
.searchContainer {
    display: flex;
    flex: 1 1 auto;
    align-content: flex-start;
    flex-flow: column nowrap;
    padding: 1rem;
    font-weight: 100;
    max-width: 50%;
    margin: initial;
    max-width: 100%;
    justify-content: center;
}
.form-control {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form-group-2 {
    display: flex;
    margin: .5rem;
    justify-content: center;
    align-content: center;
}
.btn-fav {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    padding: 1rem;
    width: 70px;
    height: 30px;
    stroke: #D6C9B8;
}
.btn-search {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    font-weight: 700px;
    background: rgb(85, 72, 56);
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0rem 1rem;
    padding: 1rem;
    width: 150px;
    height: 30px;
    color: #ffffff;
    stroke: #D6C9B8;
}
.form-group {
    display: flex;
    margin: .5rem;
    justify-content: center;
    align-items: center;
}
.intro-text {
    display: flex;
    font-weight: 500;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem;
    background: -webkit-linear-gradient(#2D2D2D, rgb(175, 156, 109));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 957px) {
    .searchContainer {
        order: 3;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
    }
}
@media (max-width: 768px) {
    .searchContainer {
        order: 3;
        width: 100%;
        justify-content: center;
        align-content: center;
        justify-content: space-around;
    }
    .logoContainer {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        max-width: 33%;
        min-width: 10%;
        padding: 1rem;
    }
    .form-control {
        display: flex;
        flex: 1 1 auto;
    }
    .btn-search {
        display: flex;
        margin-left: .5rem;
    }
    .form-group {
        display: flex;
        margin: .5rem;
    }
}
@media (max-width:640px) {
    .searchContainer {
        order: 3;
        width: 100%;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        justify-content: center;
        align-content: center;
    }
    .btn-search {
        display: flex;
        margin-left: .5rem;
    }
    .form-group {
        display: flex;
        margin: .5rem;
    }
}

@media (max-width:525px) {
    .header {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:465px) {
    .logoContainer {
        max-width: 100%;
    }
}