html,body { 
    height:100%; 
}
#root {
    height: 100%;
}

/*------------- User Login -------------*/
.responsiveLogo {
    display: none;
}
.username {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
    padding: 1rem 0rem;
    line-height: 1.2;
}
.password {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: left;
    font-size: 1rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
    padding: 1rem 0rem;
    font-weight: 400;
    line-height: 1.2;
}
.loginPage {
    display: flex;
    width: 100%;
    height: 100%;
}
.containerLogin {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    
}
.loginForm {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
}
.createAccount{
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
    padding: 1rem;
    font-weight: 300;
    line-height: 1.2;
}
.containerField {
    padding: .5rem 0;
    width: auto;
}
.buttonContainer {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    padding: 1rem 0rem;
    align-items: center;
    flex-flow: row wrap;
}
button {
    background: #D6C9B8;
    width: 150px;
    height: 30px;
    color: #1f1f1f;
    border-radius: 4px;
    stroke: #D6C9B8;
    text-align: center;
}

/*------------- Intro Style (Right Side) -------------*/

.containerLogo {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    /* will be "on top", if browser supports it */
    background: linear-gradient(-65deg, rgb(187, 147, 96), rgb(68, 50, 27), rgb(46, 38, 27),#363636, #1f1f1f);
    background-size: 300% 300%;
    animation: gradientBG 15s ease infinite;
    height: 100%;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
  
.logoText {
    display: flex;
    flex: 1 1 auto;
    padding: 1.2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    color: -webkit-linear-gradient(#2D2D2D, #FFD464);
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
}
.logoSubtext {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem 4rem;
    padding: 1rem;
    font-weight: 300;
    line-height: 1.2;
}
.formHeader {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    font-size: 1.3rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem;
    padding: 1rem;
    font-weight: 300;
    line-height: 1.2;
}
.responsiveSubtext{
    display: none;
}
.LogoContainer {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 1.2rem;
}
@media (max-width: 1075px) {
    .logoText {
        font-size: 3rem;
    }
    .logoSubtext {
        font-size: 1rem;
    }
    .buttonContainer{
        justify-content: space-around;
        height: 7rem;
        flex-flow: column wrap;
    }
}
@media (max-width: 700px) {
    .responsiveLogo {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 1 auto;
        padding: 1.2rem;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.2;
        color: -webkit-linear-gradient(#2D2D2D, #FFD464);
        background: -webkit-linear-gradient(#2D2D2D, #FFD464);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0rem;
    }
    .formHeader {
        display: none;
    }
    .containerLogo {
        display: none;
        flex: 0 1 auto;
        flex-flow: row wrap;
        order: 1;
        max-width: 0%;
        min-width: 0%;
        height: 0%;
    }
    .containerLogin {
        flex: 0 1 auto;
        flex-flow: row wrap;
        order: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(-65deg, rgb(187, 147, 96), rgb(68, 50, 27), rgb(46, 38, 27),#363636, #1f1f1f);
        background-size: 250% 500%;
        animation: gradientBG 15s ease infinite;
    }
    .username {
        display: flex;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-content: flex-start;
        text-align: left;
        font-size: 1rem;
        background: -webkit-linear-gradient(#2D2D2D, #FFD464);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0rem;
        padding: 1rem 0rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .password {
        display: flex;
        flex: 0 1 auto;
        justify-content: flex-start;
        align-content: flex-start;
        text-align: left;
        font-size: 1rem;
        background: -webkit-linear-gradient(#2D2D2D, #FFD464);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0rem;
        padding: 1rem 0rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .createAccount{
        flex: 1 1 auto;
        justify-content: center;
        color: white;
    }
    
    .buttonContainer {
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
        padding: 1rem 0rem;
        align-items: center;
        flex-flow: row wrap;
    }
}

@media (max-width:452px) { 
    .buttonContainer{
        justify-content: space-around;
        height: 7rem;
        flex-flow: column;
    }
}