.display-4 {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#2D2D2D, #FFD464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 6rem;
    padding: 1rem;
}
.nav-item-link {
    display: flex;
    flex: 0 1 auto;
    align-content: flex-end;
    flex-flow: column wrap;
    padding: 1rem;
    font-weight: 100;
}
.nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}
.btn-search{
    display: flex;
    flex-flow: column wrap;
}
.form-group {
    display: flex;
    flex-flow: column nowrap;
}