.nav-link-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    order: 3;
}
.nav-item-link {
    display: flex;
    flex: 0 1 auto;
    align-content: flex-end;
    justify-content: center;
    flex-flow: column wrap;
    padding: 1rem;
    font-weight: 100;
}
.nav {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.nav-link {
    color:rgb(85, 72, 56);
    font-weight: 530;
}
a {
    color: rgb(85, 72, 56);
}
@media (max-width: 957px) {
    .nav-link-container{
        display: flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
        order: 3;
    }
}
@media (max-width: 768px) {
    .nav-link-container{
        justify-content: space-around;
    }
    .nav-item-link {
        order: 3;
        display: flex;
        flex: 0 1 auto;
    }
    .nav {
        display: flex;
        flex-flow: row;
    }
}
@media (max-width:639px) {
    .nav-item-link {
        display: flex;
    }
    .nav {
        display: flex;
        flex-flow: row wrap;
    }
    .nav-link-container{
        display: flex;
        order: 2;
        justify-content: flex-end;
    }
}
@media (max-width:465px) {
    .nav-link-container {
        justify-content: center;
    }
}